@use '../variables' as *;

.tableWrapper {
  width: 100vw;
  padding: 20px 0 20px 0;
  overflow-x: auto;
  margin: 0 auto;
}

.tableHeader {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
}

.table {
  font-size: 1.3em;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}